
//                    HOME


//                          TOP BACKGROUND IMAGE - HOME PAGE

.home-top-background-image {
         background-image: url("/Saveur/Photos/background1.jpg");
         background-size: 100% 25em;
         background-position: top;
         background-repeat: no-repeat;
         background-attachment: fixed;
}

//                          BREAKFAST MENU BACKGROUND IMAGE - HOME PAGE


.breakfast-menu .overlay {
         background-image: url("/Saveur/Photos/menuBackground1.jpg");
         background-size: 100% 100%;
         background-position: top;
         background-attachment: contain;
         background-repeat: no-repeat;
}

//                          LUNCH & DINNER MENU BACKGROUND IMAGE - HOME PAGE


.lunch-dinner-menu .overlay {
         background-image: url("/Saveur/Photos/menuBackground2.jpg");
         background-size: 100% 100%;
         background-position: center;
         background-attachment: contain;
         background-repeat: no-repeat;   
}
 
//                           DESSERTS MENU BACKGROUND IMAGE - HOME PAGE


.drinks-menu .overlay {
         background-image: url("/Saveur/Photos/menuBackground3.jpg");
         background-size: 100% 100%;
         background-position: center;
         background-attachment: contain;
         background-repeat: no-repeat;  
} 


//                           MENU


//                           TOP BACKGROUND MENU IMAGES 

.menu-top-background-image {
    background-image: url("/Saveur/Photos/mains-background.jpeg");
    background-size: 100% ;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
.breakfast-top-background-image {
    background-image: url("/Saveur/Photos/breakfast-background.jpeg");
    background-size: 100% ;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
.drinks-top-background-image {
    background-image: url("/Saveur/Photos/drinks-background.jpg");
    background-size: 100% 60em;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
.mains-top-background-image {
    background-image: url("/Saveur/Photos/mains-background.jpeg");
    background-size: 100% ;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.breakfast-items {
         background-image: url("/Saveur/Photos/breakfast-menu.png");
         background-size: 100% 100% ;
         background-position: top;
         background-repeat: no-repeat;
         background-attachment: contain;
}

.lunchdinner-items-1 {
         background-image: url("/Saveur/Photos/lunchdinner-menu-1.png");
         background-size: 100% 100%;
         background-position: top;
         background-repeat: no-repeat;
         background-attachment: contain;
}

.lunchdinner-items-2 {
         background-image: url("/Saveur/Photos/lunchdinner-menu-2.png");
         background-size: 100% 100%;
         background-position: top;
         background-repeat: no-repeat;
         background-attachment: contain;
}

.drinks-items {
         background-image: url("/Saveur/Photos/drinks-menu.png");
         background-size: 100% 100%;
         background-position: top;
         background-repeat: no-repeat;
         background-attachment: contain;
}

.drinks-items-2 {
 background-image: url("/Saveur/Photos/drinks-menu-2.png");
 background-size: 100% 100%;
 background-position: top;
 background-repeat: no-repeat;
 background-attachment: contain;
}

.loadshedding-background {
 background-image: url("/Saveur/Photos/Loadshedding-image-800x800.jpg");
 width: 100vw;
  height: 100vh;
 background-position: bottom;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

.specials-2-background {
 background-image: url("/Saveur/Photos/Redhill-image-400x400.jpg");
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 background-attachment: fixed;
  }
