
//                 HOME - TOP BACKGROUND IMAGE


.home-top-background-image {
       background-image: url("/Saveur/Test Images/background1.jpg");
       background-size: 100% 30em;
       background-position: top;
       background-repeat: no-repeat;
       background-attachment: fixed;
}


//                 HOME - BREAKFAST MENU BACKGROUND IMAGE


.breakfast-menu .overlay {
       background-image:  url("/Saveur/Test Images/menuBackground1.jpg");
       background-size: 100% 100%;
       background-position: center;
       background-attachment: contain;
       background-repeat: no-repeat;
}


//                 HOME - LUNCH & DINNER MENU BACKGROUND IMAGE


.lunch-dinner-menu .overlay {
       background-image:  url("/Saveur/Test Images/menuBackground2.jpg");
       background-size: 100% 100%;
       background-position: center;
       background-attachment: contain;
       background-repeat: no-repeat;   
}

 
//                 HOME - DESSERTS MENU BACKGROUND IMAGE


.desserts-menu .overlay {
       background-image:  url("/Saveur/Test Images/menuBackground3.jpg");
       background-size: 100% 100%;
       background-position: bottom;
       background-attachment: contain;
       background-repeat: no-repeat;  
} 


//                 HOME - SPECIALS BACKGROUND IMAGES


.specials-1-background {
       background-image: url("/Saveur/Test Images/specials-1.jpg");
       background-size: 100% 100%;
       background-attachment: cover;
       background-repeat: no-repeat;    
}

.specials-2-background  {
       background-image: url("/Saveur/Test Images/specials-2.jpg");
       background-size: 100% 100%;
       background-attachment: cover;
       background-repeat: no-repeat;    
}


//                 MENU - TOP BACKGROUND IMAGE


.menu-top-background-image {
       background-image: url("/Saveur/Test Images/pizza-background.jpg");
       background-size: contain;
       background-position: top;
       background-repeat: no-repeat;
       background-attachment: fixed;
}


//                 MENU - TOP BACKGROUND IMAGE