
//                  TOP BACKGROUND IMAGES


.top-background-image {
      background-image: url("one.JPG");
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
}


//                  BREAKFAST MENU BACKGROUND


.breakfast-menu .overlay {
      background-image:  url("two.JPG");
      background-size: 100% 100%;
      background-position: center;
      background-attachment: cover;
      background-repeat: no-repeat;
}


//                  LUNCH & DINNER MENU BACKGROUND


.lunch-dinner-menu .overlay {
      background-image:  url("three.JPG");
      background-size: 100% 100%;
      background-attachment: cover;
      background-repeat: no-repeat;   
}

 
//                  DESSERTS MENU BACKGROUND


.desserts-menu .overlay {
      background-image:  url("four.JPG");
      background-size: 100% 100%;
      background-attachment: cover;
      background-repeat: no-repeat;    
} 


//                  SPECIALS BACKGROUND IMAGES


.specials-1-background {
      background-image: url("five.JPG");
      background-size: 100% 100%;
      background-attachment: cover;
      background-repeat: no-repeat;    
}

.specials-2-background  {
      background-image: url("six.JPG");
      background-size: 100% 100%;
      background-attachment: cover;
      background-repeat: no-repeat;    
}



