@import "./mixins.scss";
@import "./images.scss";
@import "./root.scss";

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
//      border: solid 1px black;
}

html {
      height: 100%;
}


//                  HEADER


header {
     display: flex;
     @include header;
     padding: 10px
}

nav {
     @include nav;
}

.nav-list {
   @include nav-list;
}

.nav-item {
       margin: 1em 0;
       font-size: 1.5em;
       font-weight: 500;
       color: whitesmoke;
       text-align: center;
       width: 100%;
       transition: all 1s ease-in-out;
       list-style: none;
}

a {
      text-decoration: none;
      color: whitesmoke;
      text-transform: uppercase;
}

.nav-list-extended {
       display: none;

       a {
            text-decoration: none;
            color: whitesmoke;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
}

.nav-item-extended {
      transition: all 0.3s ease-in-out;

}

.nav-item-extended a:hover {
      background-color: whitesmoke;
      color: var(--font-color);
      transition: all 0.3s ease-in-out;
}

.hamburger-menu {
     @include hamburger;
     align-items: center;
}

.lines {
     border: solid 2px white;
     border-radius: 10px ;
     width: 80%;
}

.change {
       padding-top: 2em ;
       display: flex;
       flex-direction: column;
       font-size: 5vw;
       height: 100vh;
}

body {
      background-color: whitesmoke;
}

//                  HOME PAGE 

.home-top-background-image {
      height: 15em;
}

main {
      display: flex;
      gap: 3em;
      flex-direction: column;
      top: -60px;
      position: relative;
}

h1 { //SAVEUR LOGO
       color: white;
       width: 50%;
       z-index: 1;
       text-transform: uppercase;
       font-family: 'Abril Fatface', cursive;
       letter-spacing: 2px;
       font-weight: 100;
}

h2 { //ALL SUB HEADINGS
       text-align: center;
       text-transform: uppercase;
       font-family: 'Abril Fatface', cursive;
       letter-spacing: 2px;
       font-weight: 100;
       color:var(--font-color)
}

p { //ALL PARAGRAPHS
       font-size: 1em;
       text-align: center;
       padding: 1em;
       line-height: 1.5;
       letter-spacing: 1px;
       word-spacing: 3px;
       color: var(--font-color)
}

hr {
       width: 50%;
       margin: auto;
       color: #01257F;
       opacity: 0.5;
}

.welcome-container { //"WELCOME" CONTAINER
       display: flex;
       flex-direction: column;
       color: var(--color);
       padding: 21px;
       margin: auto;
       background-color: whitesmoke;
} 


//                  MENU PAGE 



.menu-top-background-image {
       height: 15em;
}

.menus-container { //CONTAINS THE MENUS
       display: flex;
       flex-direction: column;
       
       gap: 2em;
       margin: auto;
       width: 100%;
       height: 230vh;
       background-color: whitesmoke;
}

.menus {
       height: 100vh;
       overflow: hidden;
       margin: 10px ;
}

.overlay {
       transition: all 0.3 ease-in-out;
       -webkit-transition: all 0.3s ease-in-out;
       height: 100%;
       width: 100%;
       display: flex !important;
       font-size: 1.5em;
       text-align: center;
       letter-spacing: 3px;
       justify-content: center;
       align-items: center;
       box-shadow: inset 0 0 100px 100px #01257f5d;


       p {
             color: white;
             font-weight: 500;
             transition: all 0.3s ease-in-out;
             -webkit-transition: all 0.3s ease-in-out;
             letter-spacing: 3px;

       }
}

.overlay:hover, .overlay.hover {
       transform: scale(1.2);
       -webkit-transform: scale(1.2);
       transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        box-shadow: inset 0 0 0 0 #01257f00;
        
       p {
             opacity: 0;
             transition: all 0.3s ease-in-out;
             -webkit-transition: all 0.3s ease-in-out;
             letter-spacing: 10px;
       }
}

// .overlay-title {
//       width: 100%;
//       height: 100%;
//       z-index: -1;
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
// }

.overlay-title:hover {
       padding: 10px;
}



.items {
       height: 100vh;
}
  

//                     SPECIALS
 

.specials-1-background, .specials-2-background {
       width: 50%;
       height: 100%;
       margin: auto;
}

.specials {
        display: flex;
        flex-direction: column;

      h2 {
        font-size: 1.1em;
        padding: 5px;
      }
}

.specials-1, .specials-2 {
        height: 50%;
        display: flex;
        flex-direction: row;

        p {
            text-align: center;
       }
}

.specials-2 {
        flex-direction: row-reverse;
}

.specials-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
}


//                     THANK YOU


.thank-you-slideshow { //"THANK YOU" SLIDESHOW CONTAINER
       padding: 1em;
       width: 100%;
       margin: auto;

       p {
       text-align: center;
}
}


//                     FOOTER


footer {
        @include footer;
}

.contact-container {
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex !important;
        flex-direction: column;
        gap: 2em;
}


//                     FORM


form {
       width: 100%;
       margin: auto;
       display: flex;
       flex-direction: column;
       gap: 3px;
}

input {
       padding: 10px;
}

textarea {
       margin: auto;
       width: 100%;
}

label {
      color: whitesmoke;
}


//                     SOCIAL MEDIA


.social-media-container {
        display: flex !important;
        flex-direction: column;
        gap: 2em;
        padding: 10px;
        width: 100%;
}

.social-media-icons {
        font-size: 1em ;
        display: flex !important;
        flex-direction: row;

          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            gap: 5px;
            font-style: none;
            text-decoration: none;
            color: whitesmoke;
     }
}

.social-media {
        display: inline-flex !important;
        justify-content: space-around;
        width: 100%;
        margin: auto;

        span {
            width: 100%;
        }
}

svg {
       width: 2.5em;
       transition: all 0.3s ease-in-out;
       -webkit-transition: all 0.3s ease-in-out;
       fill: whitesmoke;
       border-radius: 50%;
}

path {
        margin: auto;

}

svg:hover {
       -webkit-transition: all 0.3s ease-in-out;
       transition: all 0.3s ease-in-out;
       border-radius: 5px;
       fill: #01257F;
       background-color: whitesmoke;
}



//                     MAP


.map {
      display: flex;
      width: 100%;
      height: 30em;
      gap: 2em;
      flex-direction: column;
      padding: 10px;
}

#submit-button {
      margin: auto;
      border-radius: 5px;
      color: var(--blue);
      font-size: 1em;
      background-color: whitesmoke;
      border: none;
      transition: all 0.3s ease-in-out;

}

#submit-button:hover {
      background-color: #01257f62;
      transition: all 0.3s ease-in-out;
      color: whitesmoke;
}

@media only screen and (min-width: 480px){
      main {
            width: 480px;
            margin: auto;
      }
      
    .menus-container {
         width: 480px;
    }
}

@media only screen and (min-width: 700px){
      
}

@media only screen and (min-width: 768px){

.home-top-background-image {
      height: 20em;
}

.menu-top-background-image {
      height: 20em;
}

hr {
      width: 60%;
}

h2 {
     width: 100%;
}

nav {
     flex-direction: row;
     top: 6em;
}

.hamburger-menu {
     display: none;
}

.nav-list {
     display: none;
}

.nav-list:hover {
      transition: all 3s ease-in-out;
      letter-spacing: 3px;
      margin: 1em;
      background-color: white;
}

footer {
     flex-direction: row
}

.nav-list-extended {
     @include nav-list-extended;
 }

 main {
      position: relative;
      top: -100px;
      gap: 2em;
      width: 80%;
      margin: auto;
 }
 
.welcome-container {
      margin: auto;
      text-align: center;
}

.menus-container {
      width: 100%;
      height: 100%;
      flex-direction: row;
      gap: 0;
} 

.menus {
      width: 100%;
      height: 30em;
}

.thank-you-slideshow {

  
}

.social-media-container {
      width: 60%;
      margin: auto;
}

.social-media {
       justify-content: space-around;
       width: 50%;
}

.items {
      height: 100em;
}
}

@media only screen and (min-width: 1000px){
main{ 
      top: -200px;
      width: 90%;
}

div {
      width: 90%;
      margin: auto;
}

.lunchdinner-items-2{
      display: none;
}

.home-top-background-image {
      height: 30em;
}

.menu-top-background-image {
      height: 30em;
}

.welcome-container {
      width: 800px;

}

.specials {
       width: 100%;
       margin: auto;
}

.contact-container {
       flex-direction: row;
       gap: 0;
       margin: auto;
       margin: 1em;
}

.social-media-container {
       width: 35%;
       margin: auto;
       padding: 0;
}

form {
      margin: 0;
}

.footer {
      height: 100vh;
}

.map {
       width: 60%;
       height: 30em;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
}

.specials {
p {
      width: 20em;
}}
}


@media only screen and (min-width: 1200px){
main {
      margin: auto;
}

.lunchdinner-items-2{
      display: visible;
}

.menus-container {
     width: 1200px;
}


h1 {
     text-align: center;
}

}

@media only screen and (min-width: 1500px){

h1 {
         text-align: center;
}

}









