.home-top-background-image {
  background-image: url("/Photos/background1.jpg");
  background-size: 100% 25em;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.breakfast-menu .overlay {
  background-image: url("/Photos/menuBackground1.jpg");
  background-size: 100% 100%;
  background-position: top;
  background-attachment: contain;
  background-repeat: no-repeat;
}

.lunch-dinner-menu .overlay {
  background-image: url("/Photos/menuBackground2.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: contain;
  background-repeat: no-repeat;
}

.drinks-menu .overlay {
  background-image: url("/Photos/menuBackground3.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: contain;
  background-repeat: no-repeat;
}

.menu-top-background-image {
  background-image: url("/Photos/mains-background.jpeg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.breakfast-top-background-image {
  background-image: url("/Photos/breakfast-background.jpeg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.drinks-top-background-image {
  background-image: url("/Photos/drinks-background.jpg");
  background-size: 100% 60em;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mains-top-background-image {
  background-image: url("/Photos/mains-background.jpeg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.breakfast-items {
  background-image: url("/Photos/breakfast-menu.png");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: contain;
}

.lunchdinner-items-1 {
  background-image: url("/Photos/lunchdinner-menu-1.png");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: contain;
}

.lunchdinner-items-2 {
  background-image: url("/Photos/lunchdinner-menu-2.png");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: contain;
}

.drinks-items {
  background-image: url("/Photos/drinks-menu.png");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: contain;
}

.drinks-items-2 {
  background-image: url("/Photos/drinks-menu-2.png");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: contain;
}

.loadshedding-background {
  background-image: url("/Photos/Loadshedding-image-800x800.jpg");
  background-position: center;
  background-image: 100% 100%;
  background-repeat: no-repeat;
}

.specials-2-background {
  background-image: url("/Photos/Redhill-image-400x400.jpg");
  background-image: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

:root {
  --borders: #01257F 1px solid;
  --background-color: #01257F;
  --h2-color: #01257F;
  --font-color: #01257F;
  --blue: #01257F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  flex-direction: row;
  background-color: var(--background-color);
  color: var(--blue);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  display: flex;
  transition: 0.5s ease-in-out;
  background-color: var(--background-color);
  width: 100%;
  margin: auto;
  flex-direction: column;
}

.nav-list {
  top: 0;
  height: 10em;
  width: 100%;
  background-color: var(--background-color);
  display: none;
}

.nav-item {
  margin: 1em 0;
  font-size: 1.5em;
  font-weight: 500;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  transition: all 1s ease-in-out;
  list-style: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
}

.nav-list-extended {
  display: none;
}

.nav-item-extended {
  transition: all 0.3s ease-in-out;
}

.nav-item-extended a:hover {
  background-color: whitesmoke;
  color: var(--font-color);
  transition: all 0.3s ease-in-out;
}

.hamburger-menu {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2em;
  height: 2em;
  margin: auto 1em;
  align-items: center;
  cursor: pointer;
  align-items: center;
}

.lines {
  border: solid 1px white;
  border-radius: 10px;
  width: 80%;
}

.change {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  font-size: 5vw;
  height: 100vh;
}

.home-top-background-image {
  height: 15em;
}

#indexMain {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

h1 {
  color: white;
  width: 30%;
  z-index: 1;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: center;
}
h1 img {
  margin: auto;
  height: 100%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  color: var(--font-color);
}

p {
  font-size: 0.8;
  text-align: center;
  padding: 0.5em;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--font-color);
}

hr {
  width: 50%;
  margin: auto;
  color: #01257F;
  opacity: 0.5;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  color: var(--color);
  padding: 21px;
  margin: auto;
  background-color: whitesmoke;
}

#top-background-images {
  height: 25em;
}

.menus-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: auto;
  width: 80%;
  background-color: whitesmoke;
}

.menus {
  overflow: hidden;
  margin: 10px;
  height: 30em;
}

.overlay {
  transition: all 0.3 ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex !important;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 3px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 100px 100px rgba(1, 37, 127, 0.3647058824);
}
.overlay p {
  color: white;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  letter-spacing: 3px;
}

.overlay:hover, .overlay.hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 0 0 rgba(1, 37, 127, 0);
}
.overlay:hover p, .overlay.hover p {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  letter-spacing: 10px;
}

.items {
  position: relative;
  top: -50px;
  margin: auto;
  height: 50em;
  width: 100%;
}

.overlay-title:hover {
  padding: 10px;
}

.loadshedding {
  display: flex;
  flex-direction: column;
}

.specials-2 {
  display: flex;
  flex-direction: column;
}

.specials {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.specials-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadshedding-background, .specials-2-background {
  height: 50vh;
}

footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: var(--borders);
  color: whitesmoke;
  background-color: var(--background-color);
}
footer h2 {
  color: whitesmoke;
}

.contact-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  gap: 2em;
}

form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

input {
  padding: 10px;
}

textarea {
  margin: auto;
  width: 100%;
}

label {
  color: whitesmoke;
}

.social-media-container {
  display: flex !important;
  flex-direction: column;
  gap: 2em;
  padding: 10px;
  width: 100%;
}

.social-media-icons {
  font-size: 1em;
  display: flex !important;
  flex-direction: row;
}
.social-media-icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 5px;
  font-style: none;
  text-decoration: none;
  color: whitesmoke;
}

.social-media {
  display: inline-flex !important;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}
.social-media span {
  width: 100%;
}
.social-media svg {
  width: 2.5em;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  fill: whitesmoke;
  border-radius: 50%;
}
.social-media svg:hover {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  fill: #01257F;
  background-color: whitesmoke;
}

path {
  margin: auto;
}

svg {
  width: 5em;
}

.map {
  display: flex;
  width: 100%;
  height: 30em;
  gap: 2em;
  flex-direction: column;
  padding: 10px;
}

#submit-button {
  margin: auto;
  color: var(--blue);
  font-size: 1em;
  background-color: whitesmoke;
  border: none;
  transition: all 0.3s ease-in-out;
}

#submit-button:hover {
  background-color: rgba(1, 37, 127, 0.3843137255);
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}

@media only screen and (min-width: 400px) {
  main {
    margin: auto;
  }
}
@media only screen and (min-width: 700px) {
  .menus-container hr {
    display: none;
  }
  main {
    padding: 0 3em;
  }
  .items {
    height: 80em;
  }
}
@media only screen and (min-width: 768px) {
  .home-top-background-image {
    height: 20em;
  }
  .menu-top-background-image {
    height: 20em;
  }
  .breakfast-top-background-image {
    height: 20em;
  }
  .mains-top-background-image {
    height: 20em;
  }
  .drinks-top-background-image {
    height: 20em;
  }
  hr {
    width: 60%;
  }
  h2 {
    width: 100%;
  }
  nav {
    flex-direction: row;
    top: 6em;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .nav-list:hover {
    transition: all 3s ease-in-out;
    letter-spacing: 3px;
    margin: 1em;
    background-color: white;
  }
  footer {
    flex-direction: row;
  }
  .nav-list-extended {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  #indexMain {
    position: relative;
    top: -100px;
    margin: auto;
    width: 100%;
    padding: 0;
  }
  .welcome-container {
    margin: auto;
    text-align: center;
  }
  .menus-container {
    width: 100%;
    flex-direction: row;
    gap: 0;
    margin: auto;
    padding: 2em;
    gap: 2em;
  }
  .menus-container hr {
    display: none;
  }
  .menus {
    width: 100%;
    height: 30em;
    margin: auto 5px;
  }
  .specials {
    width: 100%;
  }
  .specials h2 {
    width: 100%;
  }
  .social-media-container {
    width: 60%;
    margin: auto;
  }
  .social-media {
    justify-content: space-around;
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    height: 100%;
  }
  .nav-list-extended a {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .home-top-background-image {
    height: 30em;
  }
  #mains {
    padding: 0 5em;
    height: 100%;
  }
  .menu-top-background-image {
    height: 30em;
  }
  .items {
    height: 100em;
  }
  .specials {
    padding: 0 5em;
  }
  .loadshedding {
    flex-direction: row;
  }
  .specials-2 {
    flex-direction: row-reverse;
  }
  .loadshedding-info {
    width: 30%;
  }
  .loadshedding-background {
    width: 50%;
  }
  .welcome-container {
    width: 800px;
  }
  .contact-container {
    flex-direction: row;
    gap: 0;
    margin: auto;
    margin: 1em;
  }
  .social-media-container {
    width: 35%;
    margin: auto;
    padding: 0;
  }
  form {
    margin: 0;
  }
  .footer {
    height: 100vh;
  }
  .map {
    width: 60%;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1200px) {
  #mains {
    margin: auto;
    padding: 0 10em;
  }
  .menus {
    margin: 20px 10px;
  }
  .specials {
    width: 75em;
    margin: auto;
  }
  h1 {
    text-align: center;
  }
}
@media only screen and (min-width: 1500px) {
  main {
    width: 1500px;
  }
  .menus {
    height: 35em;
  }
  h1 {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */