@import "./mixins";
@import "./root";

@import "./images";

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
//      border: solid 1px black;white
}

body {
       background:transparent;
       //  font-family: Arial, Helvetica, sans-serif;
       font-family: "Roboto Condensed";
       display: flex;
       flex-direction: column;
       background: rgb(252, 253, 255);
}


//                  HEADER

//        SAVEUR LOGO SVG SIZE
svg {
      width: 6em;
      fill: var(--primary-black-color);
}

header {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
}

nav {
      @include flexCenter;
      flex-direction: row;
      width: 100%;
      padding: 2rem;
      justify-content: space-between;
 
      transition: 0.5s ease-in-out;
 
      color: black;
}

.nav-list {
   transition: all 1s ease-in-out;
   top: 0;
   width: 100%;
   height: 100%;
   display: none;
   position: absolute;
   padding: 4em;
   gap: 2em;
}

.nav-item {
       font-size: 1.5em;
       font-weight: 500;
       text-align: center;
       width: 100%;
       height: 100%;
       transition: all 1s ease-in-out;
       list-style: none;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       cursor: pointer;
      transition: all 0.3s ease-in-out;
}

a {
      text-decoration: none;
      text-transform: uppercase;
      justify-content: center;
      list-style: none;
      transition: all 0.3s ease-in-out;
}

a:hover li {
      background-color: white;
      color: #01257F;
      transition: all 0.3s ease-in-out;

}

.nav-list-extended {
       display: none;
}

.nav-item-extended {
       transition: all 0.3s ease-in-out;
       padding: 1rem;
   
}

.nav-item-extended a:hover {
      background-color: white;
      color: var(--font-color);
      transition: all 0.3s ease-in-out;
}

.hamburger-menu {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 2em;
      height: 2em;
      margin: auto 1em;
      align-items: center;
 
      cursor: pointer;
}

.lines {
     border: solid 1px rgb(12, 12, 12);
     border-radius: 10px ;
     width: 80%;
}

.change {
       display: flex;
       flex-direction: column;
       font-size: 5vw;
       height: 100vh;
       position: absolute;
      transition: all 2s ease-in-out;
}



//                  HOME PAGE 


#mains {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 2em;

      hr {
            display: show;
            width: 50%;
            color: #01257F;
      }
}

h1 { //SAVEUR LOGO
       color: white;
       width:30%;
       z-index: 1;
       text-transform: uppercase;
       font-family: 'Abril Fatface', cursive;
       letter-spacing: 2px;
       font-weight: 100;
       text-align: center;

       img {
            margin: auto;
            height: 100%;
       }
}

h3 { //ALL SUB HEADINGS
       text-align: center;
       text-transform: uppercase;
       font-weight: 100;
       color:var(--font-color);
}

p { //ALL PARAGRAPHS
       font-size: 12px;
       text-align: center;
       line-height: 1.5;
       color: var(--font-color)
}

hr {
       width: 60%;
       margin: auto;
       border-color: #01257F;
       opacity: 0.1;
}

.welcome-container { //"WELCOME" CONTAINER
       display: flex;
       flex-direction: column;
       color: var(--color);
       margin: auto;
       background-color: white;
       gap: 0.5em;
       padding-top: 1em;
       padding: 0.5rem;
       max-width: 700px;
} 


//                  MENU PAGE 


.menus-container { //CONTAINS THE MENUS
       display: flex;
       flex-direction: column;
       gap: 1rem;
       max-width: 300px;
       margin: auto;
       padding-top: 1rem ;
      
       
}

.menus {
       overflow: hidden;
       height: 20rem;

}

.overlay {
       transition: all 0.3 ease-in-out;
       -webkit-transition: all 0.3s ease-in-out;
       height: 100%;
       width: 100%;
       display: flex !important;
       font-size: 1.5em;
       text-align: center;
       letter-spacing: 3px;
       justify-content: center;
       align-items: center;
       box-shadow: inset 0 0 100px 100px #01257f5d;

       p {
             color: white;
             font-weight: 500;
             transition: all 0.3s ease-in-out;
             -webkit-transition: all 0.3s ease-in-out;
             letter-spacing: 3px;

       }
}

.overlay:hover, .overlay.hover {
       transform: scale(1.2);
       -webkit-transform: scale(1.2);
       transition: all 0.3s ease-in-out;
       -webkit-transition: all 0.3s ease-in-out;
       box-shadow: inset 0 0 0 0 #01257f00;
        
       p {
             opacity: 0;
             transition: all 0.3s ease-in-out;
             -webkit-transition: all 0.3s ease-in-out;
             letter-spacing: 10px;
       }
}

.items {
      position: relative;
      top: -50px;
      margin: auto;
      height: 50em;
      width:100%;
}


// .overlay-title {
//       width: 100%;
//       height: 100%;
//       z-index: -1;
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
// }

.overlay-title:hover {
       padding: 10px;
}


//                     LOADSHEDDING & REDHILL
 
.loadshedding-background, .redhill-background {
 height: 18em;
}

.loadshedding, .redhill  {
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 2em;
}

.specials {
 display: flex;
 flex-direction: column;
 gap: 2em;
}

.specials-info {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 2em;
 padding: 0 3em;
}

.redhill {
       gap: 2em;
}

.redhill-logo {
      height: 5em;
      width: 100%;
}

 .swap-heading-p {
      display: flex;
      flex-direction: column;
      gap: 1em;
}


//                     FOOTER


footer {
      display: flex;
      width: 100%;
      flex-direction: column;
      border: var(--borders);
      color: white;
      background-color: var(--background-color);

      h2 {
          color: white;
     }
}

.contact-container {
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex !important;
        flex-direction: column;
        gap: 2em;

        hr {
            color: white;
        }
}


//                     FORM


form {
       width: 100%;
       margin: auto;
       display: flex;
       flex-direction: column;
}

input {
       padding: 10px;
}

textarea {
       margin: auto;
       width: 100%;
       padding: 10px;
       font-size: 1em;
}

label {
      color: white;
}


//                     SOCIAL MEDIA


.social-media-container {
        display: flex !important;
        flex-direction: column;
        gap: 2em;
       padding: 1em 4em;

      h3 {
            color: white;
      }

}

.social-media-icons {
        font-size: 1em ;
        display: flex !important;
        flex-direction: row;

          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            gap: 5px;
            font-style: none;
            text-decoration: none;
            color: white;
     }
}

.social-media {
        display: inline-flex !important;
        justify-content: space-around;
        width: 100%;
        margin: auto;

        span {
            width: 100%;
        }

        svg {
            width: 2.5em;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            fill: white;
            border-radius: 50%;
      }
      
      svg:hover {
             -webkit-transition: all 0.3s ease-in-out;
             transition: all 0.3s ease-in-out;
             border-radius: 5px;
             fill: #01257F;
             background-color: white;
      }
}

path {
        margin: auto;

}



//                     MAP


.map {
      display: flex;
      width: 100%;
      height: 30em;
      gap: 2em;
      flex-direction: column;
      padding: 10px;
}

#submit-button {
      margin: auto;
      color: var(--blue);
      font-size: 1em;
      background-color: white;
      border: none;
      transition: all 0.3s ease-in-out;
}

#submit-button:hover {
      background-color: #01257f62;
      transition: all 0.3s ease-in-out;
      color: white;
}

@media only screen and (min-width: 375px) {


 .menus-container {
}
}

@media only screen and (min-width: 425px) {

.specials {
      margin: auto;
}
}

@media only screen and (min-width: 500px) { 

 .menus-container {
       flex-direction: row;
       max-width: 600px;

      .menus {
            width: 100%;
       }
 }
}

@media only screen and (min-width: 600px) { 


}

@media only screen and (min-width: 768px) {

h3 {
     width: 100%;
}

nav {
     flex-direction: row;
     top: 6em;
}

.hamburger-menu {
     display: none;
}

.nav-list {
     display: none;
}

.nav-list:hover {
      transition: all 3s ease-in-out;
      letter-spacing: 3px;
      margin: 1em;
      background-color: white;
}

footer {
     flex-direction: row
}

.nav-list-extended {
       display: flex;
       flex-direction: row;
       list-style: none;
       align-items: center;
       text-transform: uppercase;
}

.drinks-top-background-image {
      background-position: center;
}

.specials {
      gap: 1em;      

       h3 {
       width: 100%;
       }
}

.specials-info {
      width: 40%;
      gap: 1em;
      padding: 0;
}

.loadshedding {
      flex-direction: row;
}

.redhill {
      margin: auto;
      flex-direction: row-reverse;
}

.swap-info-redhillLogo {
      display: flex;
      flex-direction: column-reverse;
      width: 50%;
}

.loadshedding-background, .redhill-background {
      width: 15em;
      flex-direction: row;
}

.redhill-background {
      background-position: right;
}

.loadshedding-background {
      background-position: left;
}

.social-media-container {
      padding: 0 12em;
}

.social-media {
       justify-content: space-around;
       width: 50%;
}
}

@media only screen and (min-width: 1000px) {

.items {
      height: 100em;
}

.specials {
      padding: 0 5em;
}

.loadshedding {
      flex-direction: row;
}

.redhill {
      flex-direction: row-reverse;
}

.redhill-logo {
      height: 4.5em;
}

.welcome-container {
       max-width: 800px;
}

.specials-info {
      width: 40%;
}

.contact-container {
       flex-direction: row;
       gap: 0;
       margin: auto;
       margin: 1em;

       hr {
            display: none;
       }
}

.social-media-container {
       width: 35%;
       margin: auto;
       padding: 0;
}

form {
      margin: 0;
}

.map {
       width: 60%;
       height: 30em;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
}
}

@media only screen and (min-width: 1200px){

#mains {
       margin: auto;
       padding: 0 10em;
}

.menus-container {
       max-width: 48em;
}

.menus {
      height: 25em;
}

.specials {
      width: 75em;
      margin: auto;
}

.specials-info {
      width: 35%;
}

h1 {
     text-align: center;
}

}

@media only screen and (min-width: 1500px){

 main {
      width: 1500px;
}

.menus {
      height: 30em;
}

h1 {
         text-align: center;
}


}









