@import "./mixins.scss";
@import "./images.scss";
@import "./root.scss";

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
//      border: solid 1px black;
}

html {
      height: 100%;
}

body {
       background-color: whitesmoke;
       font-family: Arial, Helvetica, sans-serif;
       
}


//                  HEADER


header {
     display: flex;
     @include header;
}

nav {
     @include nav;
}

.nav-list {
   @include nav-list;
}

.nav-item {
       margin: 1em 0;
       font-size: 1.5em;
       font-weight: 500;
       color: whitesmoke;
       text-align: center;
       width: 100%;
       transition: all 1s ease-in-out;
       list-style: none;
}

a {
      text-decoration: none;
      color: whitesmoke;
      text-transform: uppercase;
}

.nav-list-extended {
       display: none;
}

.nav-item-extended {
       transition: all 0.3s ease-in-out;
}

.nav-item-extended a:hover {
      background-color: whitesmoke;
      color: var(--font-color);
      transition: all 0.3s ease-in-out;
}

.hamburger-menu {
     @include hamburger;
     align-items: center;
}

.lines {
     border: solid 1px white;
     border-radius: 10px ;
     width: 80%;
}

.change {
       padding-top: 2em ;
       display: flex;
       flex-direction: column;
       font-size: 5vw;
       height: 100vh;
}



//                  HOME PAGE 

.home-top-background-image {
      height: 15em;
}

#indexMain { 
      display: flex;
      flex-direction: column;
      gap: 2em;
}


h1 { //SAVEUR LOGO
       color: white;
       width:30%;
       z-index: 1;
       text-transform: uppercase;
       font-family: 'Abril Fatface', cursive;
       letter-spacing: 2px;
       font-weight: 100;
       text-align: center;

       img {
            margin: auto;
            height: 100%;
       }
}

h2 { //ALL SUB HEADINGS
       text-align: center;
       text-transform: uppercase;
       letter-spacing: 2px;
       font-weight: 100;
       color:var(--font-color);
}

p { //ALL PARAGRAPHS
       font-size: 0.8;
       text-align: center;
       padding: 0.5em;
       line-height: 1.5;
       letter-spacing: 1px;
       color: var(--font-color)
}

hr {
       width: 50%;
       margin: auto;
       color: #01257F;
       opacity: 0.5;
}

.welcome-container { //"WELCOME" CONTAINER
       display: flex;
       flex-direction: column;
       color: var(--color);
       padding: 21px;
       margin: auto;
       background-color: whitesmoke;
} 


//                  MENU PAGE 



#top-background-images {
      height: 25em;
}

.menus-container { //CONTAINS THE MENUS
       display: flex;
       flex-direction: column;
       
       gap: 2em;
       margin: auto;
       width: 80%;
       background-color: whitesmoke;
}

.menus {
       overflow: hidden;
       margin: 10px ;
       height: 30em;
}

.overlay {
       transition: all 0.3 ease-in-out;
       -webkit-transition: all 0.3s ease-in-out;
       height: 100%;
       width: 100%;
       display: flex !important;
       font-size: 1.5em;
       text-align: center;
       letter-spacing: 3px;
       justify-content: center;
       align-items: center;
       box-shadow: inset 0 0 100px 100px #01257f5d;


       p {
             color: white;
             font-weight: 500;
             transition: all 0.3s ease-in-out;
             -webkit-transition: all 0.3s ease-in-out;
             letter-spacing: 3px;

       }
}

.overlay:hover, .overlay.hover {
       transform: scale(1.2);
       -webkit-transform: scale(1.2);
       transition: all 0.3s ease-in-out;
       -webkit-transition: all 0.3s ease-in-out;
       box-shadow: inset 0 0 0 0 #01257f00;
        
       p {
             opacity: 0;
             transition: all 0.3s ease-in-out;
             -webkit-transition: all 0.3s ease-in-out;
             letter-spacing: 10px;
       }
}

.items {
      position: relative;
      top: -50px;
      margin: auto;
      height: 50em;
      width:100%;
}


// .overlay-title {
//       width: 100%;
//       height: 100%;
//       z-index: -1;
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
// }

.overlay-title:hover {
       padding: 10px;
}


//                     LOADSHEDDING & REDHILL
 
.loadshedding {
 display: flex;
 flex-direction: column;
 height: 25em;


}

.specials-2 {
 display: flex;
 flex-direction: column;
 height: 35em;
}

.loadshedding-background {
 height: 100%;
} 

.specials-2-background {
 height: 60%;
}

.specials {
 display: flex;
 flex-direction: column;
 gap: 1em;

}

.specials-info {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       padding: 10px;
       margin: 2em 0;
}



//                     FOOTER


footer {
        @include footer;
}

.contact-container {
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex !important;
        flex-direction: column;
        gap: 2em;
}


//                     FORM


form {
       width: 100%;
       margin: auto;
       display: flex;
       flex-direction: column;
       gap: 3px;
}

input {
       padding: 10px;
}

textarea {
       margin: auto;
       width: 100%;
}

label {
      color: whitesmoke;
}


//                     SOCIAL MEDIA


.social-media-container {
        display: flex !important;
        flex-direction: column;
        gap: 2em;
        padding: 10px;
        width: 100%;
}

.social-media-icons {
        font-size: 1em ;
        display: flex !important;
        flex-direction: row;

          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            gap: 5px;
            font-style: none;
            text-decoration: none;
            color: whitesmoke;
     }
}

.social-media {
        display: inline-flex !important;
        justify-content: space-around;
        width: 100%;
        margin: auto;

        span {
            width: 100%;
        }

        svg {
            width: 2.5em;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            fill: whitesmoke;
            border-radius: 50%;
      }
      
      svg:hover {
             -webkit-transition: all 0.3s ease-in-out;
             transition: all 0.3s ease-in-out;
             border-radius: 5px;
             fill: #01257F;
             background-color: whitesmoke;
      }
}

path {
        margin: auto;

}

svg {//        SAVEUR LOGO SVG SIZE
      width: 5em;
}


//                     MAP


.map {
      display: flex;
      width: 100%;
      height: 30em;
      gap: 2em;
      flex-direction: column;
      padding: 10px;
}

#submit-button {
      margin: auto;
      color: var(--blue);
      font-size: 1em;
      background-color: whitesmoke;
      border: none;
      transition: all 0.3s ease-in-out;
}

#submit-button:hover {
      background-color: #01257f62;
      transition: all 0.3s ease-in-out;
      color: whitesmoke;
}

@media only screen and (min-width: 400px){

main {
 margin: auto;
}

}

@media only screen and (min-width: 700px){

.menus-container {
       hr {
             display: none;
}}
main {
      padding: 0 3em;
}

.items {
      height: 80em;
}
}

@media only screen and (min-width: 768px){

.home-top-background-image {
      height: 20em;
}

.menu-top-background-image {
      height: 20em;
}
.breakfast-top-background-image {
      height: 20em;
}
.mains-top-background-image {
      height: 20em;
}
.drinks-top-background-image {
      height: 20em;
}

hr {
      width: 60%;
}

h2 {
     width: 100%;
}

nav {
     flex-direction: row;
     top: 6em;
}

.hamburger-menu {
     display: none;
}

.nav-list {
     display: none;
}

.nav-list:hover {
      transition: all 3s ease-in-out;
      letter-spacing: 3px;
      margin: 1em;
      background-color: white;
}

footer {
     flex-direction: row
}

.nav-list-extended {
     @include nav-list-extended;
 }

 #indexMain {
       position: relative;
       top: -100px;
       margin: auto;
       width: 100%;
       padding: 0;
 }

.welcome-container {
      margin: auto;
      text-align: center;
}

.menus-container {
      width: 100%;
      flex-direction: row;
      gap: 0;
      margin: auto;
      padding: 2em;
      gap: 2em;

      hr {
            display: none;
      }
} 

.menus {
      width: 100%;
      height: 30em;
      margin: auto 5px;
}

.specials {
       width: 100%;

       h2 {
       width: 100%;
       }
}

.social-media-container {
      width: 60%;
      margin: auto;
}

.social-media {
       justify-content: space-around;
       width: 50%;
}


}

@media only screen and (min-width: 1000px){
.nav-list-extended {

       a {
            text-decoration: none;
            color: whitesmoke;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
}

.home-top-background-image {
      height: 30em;
}

#mains {
      padding: 0 5em;
      height: 100%;
}


.menu-top-background-image {
      height: 30em;
}

.items {
      height: 100em;
}

.welcome-container {
      width: 800px;
}

.contact-container {
       flex-direction: row;
       gap: 0;
       margin: auto;
       margin: 1em;
}

.social-media-container {
       width: 35%;
       margin: auto;
       padding: 0;
}

.specials {
      padding: 0 5em;

}

form {
      margin: 0;
}

.footer {
      height: 100vh;
}

.map {
       width: 60%;
       height: 30em;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
}}


@media only screen and (min-width: 1200px){

#mains {
       margin: auto;
       padding: 0 10em;
}

.menus {
      margin: 20px 10px;
}

.specials {
      width: 75em;
      margin: auto;
}

h1 {
     text-align: center;
}

}

@media only screen and (min-width: 1500px){

main {
      width: 1500px;
}

.menus {
      height: 35em;
}

h1 {
         text-align: center;
}

}









